@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


:root {
    --clr-primary-red:hsl(0, 78%, 62%);
    --clr-primary-cyan:hsl(180, 62%, 55%);
    --clr-primary-orange:hsl(34, 97%, 64%);
    --clr-primary-blue:hsl(212, 86%, 64%);

    --clr-netrual-dark-blue:hsl(234, 12%, 34%);
    --clr-neutral-grayish-blue:hsl(229, 6%, 66%);
    --clr-neutral-light-gray:hsl(0, 0%, 98%);

    --ff-poppins:'Poppins', sans-serif;

}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    font-family: "Poppins", sans-serif;
}

.title {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title p {
    text-align: center;
    max-width: 380px;
}

.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

 h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: var(--clr-neutral-grayish-blue);
 }

 h2 {
    font-family: inherit;
    font-weight: 600;
 }

 p {
    color: var(--clr-neutral-grayish-blue);
    font-weight: 400;
 }

 body {
    background-color: var(--clr-neutral-light-gray);
 }



 #top {
    /* grid-area: top; */
    border-top: 5px solid var(--clr-primary-red);
 }

 #left {
    /* grid-area: left; */
    border-top: 5px solid var(--clr-primary-cyan);
 }

 #right {
    /* grid-area: right; */
    border-top: 5px solid var(--clr-primary-orange);
 }

 #bottom {
    /* grid-area: bottom; */
    border-top: 5px solid var(--clr-primary-blue);
 }

 .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .box {
    margin-top: 1.4em;
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    width: 350px;
    height: 250px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.277);
 }

 .box h3, p {
    margin-top: 25px;
    margin-left: 25px;
 }

 .box p {
    font-weight: 200;
 }

 .box img {
    position: relative;
    left: 250px;
    margin-top: 40px;
 }

 footer {
    grid-area: footer;
 }



 img {
    display: block;
    width: 55px;
 }

 @media screen and (min-width: 880px) {

    .title p {
        margin-bottom: 50px;
    }

    .mobile {
        width: 90%;
        margin-left: 7em;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 0em;
    }

    .box {
        height: 15em;
        align-self: center;
    }

    #left {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    #right {
        grid-column: 2/3;
        /* grid-row:1/3; */
        margin-top: 4em;
    }

    #bottom {
        grid-column: 3/3;
        grid-row: 1/3;
    }

 }